:root{
    --main-color: #21201f;
    --secondary-color: #5f605d;
    --text-color:#b4b4b4;
    --bg-color: #383838;
    --tertiary-color:#ef6817;
}


.page{
    grid-column: 2 / 5;
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 3fr 7fr;

}

.profile{
    grid-column: 1 / 2;
    background: var(--main-color);
    border: 5px solid var(--tertiary-color);
    border-radius: 190px;
    padding: 30px 45px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__avatar{
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    border: 5px solid var(--tertiary-color);
    border-radius: 190px;
    background-size: contain;
    background-position: center;
}

.profile__info{
    margin: 10px;
    color: var(--text-color);
    font-size: 1.3em;
}

.addinfo{
    grid-column: 2 / 3;
    color: var(--text-color);
    font-size: 1.3em;

    background: var(--main-color);
    border: 5px solid var(--tertiary-color);
    height: fit-content;
    border-radius: 190px;
    padding: 30px;
}