:root{
    --main-color: #21201f;
    --secondary-color: #5f605d;
    --text-color:#b4b4b4;
    --bg-color: #383838;
    --tertiary-color:#ef6817;
}


.page{
    grid-column: 2 / 5;
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 3fr 7fr;

}

.profile{
    grid-column: 1 / 2;
    background: var(--main-color);
    border: 5px solid var(--tertiary-color);
    border-radius: 190px;
    padding: 30px 45px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.feed{
    grid-column: 2 / 3;
}

.profile__avatar{
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    border: 5px solid var(--tertiary-color);
    border-radius: 100px;
    background-size: contain;
    background-position: center;
    background-image: url("./../../assets/user.png");
}   

.profile__avatar:hover{
    background-image: url('../../assets/pencil.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;

}

.profile__info{
    margin: 10px;
    color: var(--text-color);
    font-size: 1.8em;
}

.addinfo{
    color: var(--text-color);
    font-size: 1.3em;
    margin-top: 20px;

    background: var(--main-color);
    border: 5px solid var(--tertiary-color);
    height: fit-content;
    border-radius: 190px;
    padding: 30px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    padding: 15px;
    margin: 15px;
    background-color: var(--main-color);
    border:solid 2px #ef6817;
    color: var(--text-color);
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
}

.btn:hover{
    border:solid 2px var(--text-color);
    background-color: var(--tertiary-color);
    color: var(--main-color);
}

.block{
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.postCreator{

    border: 5px solid var(--tertiary-color);
    padding: 30px 90px;
    border-radius: 50px;
    background-color: var(--main-color);
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-height: 300px;

}
.postCreator h1{
    color: var(--tertiary-color);
    font-size: 1.5em;
    padding: 15px;
}

.postCreator textarea{
    background-color: var(--bg-color);
    border: 5px solid var(--tertiary-color);
    width: 100%;
    height: 200px;
    font-size: 1.3em;
    color: var(--text-color);
    padding: 5px;
}

