:root{
    --main-color: #21201f;
    --secondary-color: #5f605d;
    --text-color:#727272;
    --bg-color: #383838;
    --tertiary-color:#ef6817;
}

.authentication{
    display: flex;
    justify-content: space-around;
    align-items: top;
    flex-direction: column;

    margin: 30px;
    padding: 30px;
    padding-top: 150px;
    padding-bottom: 150px;
    grid-column: 2 / 5;
    grid-row: 2 / 4;

    height:fit-content;

    background-color: var(--main-color);
    border: solid 5px var(--tertiary-color);
    border-radius: 25px;
}

.authentication__header{
    align-self: center;
    color: var(--tertiary-color);
    font-size: 1.3em;
    font-weight: 600;
}

.authentication__btn{
    font-size: 1.2em;
    background: var(--tertiary-color);
    color: var(--main-color);
    border: none;
    border-radius: 25px;
    padding: 15px;
    width: 70%;
    align-self: center;
    border: 2px solid transparent;
}
.authentication__btn:hover{
    background: #ff863a;
}

.authentication__btn:focus{
    background: #ce4f00;
    border: 2px solid var(--text-color);
}

.lbl{
    color: var(--text-color)
}