:root{
    --main-color: #21201f;
    --secondary-color: #5f605d;
    --text-color:#727272;
    --bg-color: #383838;
    --tertiary-color:#ef6817;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: var(--main-color);
    color: var(--tertiary-color);
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.navbar__logo{
    background-image: url("../../assets/orange-slice.png");
    width: 60px;
    height: 60px;
    background-size: contain;
}

.navbar__links{
    display: flex;
    flex-direction: row;
}
.navbar__links a{
    text-decoration: none;
}

.btn{
    padding: 15px;
    margin: 15px;
    background-color: var(--main-color);
    border:solid 2px #ef6817;
    color: var(--text-color);
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.1em;
}

.btn:hover{
    border:solid 2px var(--text-color);
    background-color: var(--tertiary-color);
    color: var(--main-color);
}